/******************************
 * Grundinställningar.
 ******************************
 */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Cambria, serif;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 1em 0;
}

article {
    margin: 0 2vw;
}

/******************************
 * Härifrån stiler som hör till menyn.
 ******************************
*/

nav a {
/* Länkarna i menyn ska inte vara understreckade. */
    text-decoration: none;
}

nav ul {
    font-family: Calibri, sans-serif;
}

.toppmeny {
    background-color: gray;
    margin: 2vw;
}

.toppmeny>li {
    display:block;
}

.toppmeny>li:hover {
    background-color: black;
}

.undermenynamn, nav a {
    display: block;
    color: white;
    padding: 0.5em 2vw;
    height: 2em;
}

.undermeny>li {
    background-color: lightgrey;
    border-bottom: solid 1px #cccccc;
}

.undermeny>li:hover {
    background-color: orange;
}

/* Den här klassen döljer undermenyer. Sätts i javascript. */
.menuclosed ul.undermeny {
    display: none;
}

/* För lite bredare skärmar ska menyn hamna på höger sida.
   Lättfixat med flexbox. */
@media (min-device-width:650px) and (max-width: 900px) {
    #pagecontent {
        display: flex;
    }
    
    nav {
        min-width: 200px;
        /* order gör att nav hamnar efter i flex-layouten 
         utan hamnar den på vänster sida i stället. */
        order: 1;
    }
}

/* För riktigt breda skärmar använder vi toppmeny. */
@media (min-device-width: 650px) and (min-width: 901px) {
    .toppmeny {
        display: flex;
        /* Vi måste ange position: relative för att 
           z-index ska respekteras och z-index behövs
           för att inte våra menyer ska hamna under
           efterföljande innehåll.
        */
        position: relative;
        z-index: 100;
    }
    
    .menuclosed ul.undermeny {
        display: block;

    }
    
    .toppmeny {
        height: 2em;
    }
    
    .menuclosed {
        /* Det här gör så att det som inte ryms innanför den angivna
         * höjden (height) för .toppmeny inte syns. Med overflow:visible
         * (default) så sticker menyerna.
         */
        overflow: hidden;
    }
}